.card {
    margin-bottom: 30px;
  }
  .card__cover {
    position: relative;
    -webkit-transition: 0.4s ease;
    -moz-transition: 0.4s ease;
    transition: 0.4s ease;
  }
  .card__cover img {
    width: 100%;
  }
  .card__cover:before {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(26,25,31,0.8);
    z-index: 2;
    opacity: 0;
    -webkit-transition: 0.4s ease;
    -moz-transition: 0.4s ease;
    transition: 0.4s ease;
  }
  .card__cover:hover:before {
    opacity: 1;
  }
  .card__cover:hover .card__play {
    opacity: 1;
  }
  .card__play {
    position: absolute;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -moz-box-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: 60px;
    height: 60px;
    background-color: rgba(255,255,255,0.1);
    -webkit-border-radius: 50%;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    margin: -30px 0 0 -30px;
    z-index: 3;
    font-size: 30px;
    color: #fd6060;
    -webkit-transition: 0.4s ease;
    -moz-transition: 0.4s ease;
    transition: 0.4s ease;
    opacity: 0;
  }
  .card__play i {
    position: relative;
    z-index: 2;
    margin: 2px 0 0 3px;
  }
  .card__play:before {
    content: '';
    position: absolute;
    display: block;
    width: 48px;
    height: 48px;
    top: 50%;
    left: 50%;
    margin: -24px 0 0 -24px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-color: #fff;
    z-index: 1;
  }
  .card__play:hover {
    background-color: rgba(253,96,96,0.1);
    color: #fd6060;
  }
  .card__content {
    position: relative;
    display: block;
    margin-top: 10px;
  }
  .card__title {
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    color: #fff;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    word-wrap: break-word;
  }
  .card__title a {
    color: #fff;
  }
  .card__title a:hover {
    color: #fff;
  }
  .card__category {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -moz-box-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .card__category a {
    font-size: 14px;
    position: relative;
    color: #ffd80e;
    margin-right: 10px;
    opacity: 0.7;
  }
  .card__category a:after {
    content: ',';
    position: absolute;
    display: block;
    left: 100%;
    top: 0;
    color: #ffd80e;
  }
  .card__category a:last-child {
    margin-right: 0;
  }
  .card__category a:last-child:after {
    display: none;
  }
  .card__category a:hover {
    opacity: 1;
  }
  .card__rate {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.4px;
    color: #fff;
    position: absolute;
    z-index: 1;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -moz-box-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: 40px;
    height: 40px;
    top: 15px;
    left: 15px;
    background-color: rgba(26,25,31,0.7);
    border: 1px solid transparent;
    -webkit-border-radius: 50%;
    border-radius: 50%;
  }
  .card__rate--green {
    border-color: #48ee3b;
  }
  .card__rate--red {
    border-color: #fd6060;
  }
  .card__meta {
    display: block;
    font-size: 16px;
    line-height: 26px;
    color: rgba(255,255,255,0.8);
  }
  .card__meta span {
    color: rgba(255,255,255,0.8);
    margin-right: 7px;
    letter-spacing: 0.4px;
  }
  .card__meta li {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -moz-box-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    letter-spacing: 0.4px;
  }
  .card__meta li:last-child {
    margin-bottom: 0;
  }
  .card__meta a {
    font-size: 16px;
    position: relative;
    color: #ffd80e;
    margin-right: 7px;
    opacity: 0.7;
    letter-spacing: 0.4px;
  }
  .card__meta a:after {
    content: ',';
    position: absolute;
    display: block;
    left: 100%;
    top: 0;
    color: #ffd80e;
  }
  .card__meta a:last-child {
    margin-right: 0;
  }
  .card__meta a:last-child:after {
    display: none;
  }
  .card__meta a:hover {
    opacity: 1;
  }
  .card__description {
    display: block;
    margin-top: 20px;
    font-size: 16px;
    line-height: 26px;
    color: rgba(255,255,255,0.8);
    letter-spacing: 0.4px;
  }
  .card--details {
    margin-bottom: 20px;
  }
  .card--details .card__cover img {
    max-width: 270px;
  }
  .card--details .card__cover:hover:before {
    opacity: 0;
  }
  .card--details .card__content {
    margin-top: 20px;
  }
  @media (min-width: 576px) {
    .card__meta {
      margin-top: -6px;
    }
    .card--big .card__title {
      font-size: 20px;
    }
    .card--details {
      margin-bottom: 30px;
    }
    .card--details .card__content {
      margin-top: 0;
    }
  }
  @media (min-width: 768px) {
    .card--big .card__rate {
      top: 20px;
      left: 20px;
    }
  }
  @media (min-width: 992px) {
    .card--details {
      margin-bottom: 0;
    }
  }
  @media (min-width: 1200px) {
    .card--big .card__play {
      width: 70px;
      height: 70px;
      margin: -35px 0 0 -35px;
      font-size: 36px;
    }
    .card--big .card__play:before {
      width: 58px;
      height: 58px;
      margin: -29px 0 0 -29px;
    }
    .card--big .card__play i {
      margin: 2px 0 0 5px;
    }
  }