.footer {
    background-color: #1a191f;
    border-top: 1px solid rgba(210,201,255,0.1);
  }
  .footer__content {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding: 40px 0;
    position: relative;
  }
  .footer__logo {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -moz-box-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100px;
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1;
  }
  .footer__logo img {
    width: 100%;
    max-width: 110px;
    display: block;
  }
  .footer__nav {
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: start;
    -moz-box-direction: start;
    -ms-flex-direction: start;
    flex-direction: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 20px;
  }
  .footer__nav a {
    font-size: 14px;
    letter-spacing: 0.4px;
    color: rgba(255,255,255,0.7);
    margin-right: 15px;
  }
  .footer__nav a:last-child {
    margin-right: 0;
  }
  .footer__nav a:hover {
    color: #ffd80e;
  }
  .footer__copyright {
    display: inline-block;
    -ms-flex-order: 3;
    -webkit-order: 3;
    order: 3;
    margin-top: 20px;
    font-size: 12px;
    line-height: 14px;
    color: rgba(255,255,255,0.3);
  }
  .footer__copyright a {
    color: rgba(255,255,255,0.3);
  }
  .footer__copyright a:hover {
    color: #ffd80e;
  }
  .footer__back {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -moz-box-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: 1px solid #ffd80e;
    color: rgba(255,255,255,0.6);
    position: absolute;
    right: 0;
    bottom: 40px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    font-size: 30px;
    line-height: 30px;
  }
  .footer__back:hover {
    color: #fff;
  }
  @media (min-width: 576px) {
    .footer__logo {
      width: 110px;
    }
  }
  @media (min-width: 768px) {
    .footer__content {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
      -moz-box-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      padding: 0;
      height: 80px;
    }
    .footer__nav {
      -ms-flex-order: 3;
      -webkit-order: 3;
      order: 3;
      margin-top: 0;
      margin-left: auto;
      margin-right: 80px;
    }
    .footer__nav a {
      margin-right: 25px;
    }
    .footer__nav a:last-child {
      margin-right: 0;
    }
    .footer__copyright {
      -ms-flex-order: 2;
      -webkit-order: 2;
      order: 2;
      margin-top: 0;
      margin-left: 20px;
    }
    .footer__back {
      position: absolute;
      bottom: 50%;
      margin-bottom: -20px;
    }
  }
  @media (min-width: 1200px) {
    .footer__nav a {
      margin-right: 40px;
    }
    .footer__nav a:last-child {
      margin-right: 0;
    }
  }
  @media (min-width: 1310px) {
    .footer__nav {
      margin-right: 85px;
    }
    .footer__nav a {
      margin-right: 45px;
    }
    .footer__nav a:last-child {
      margin-right: 0;
    }
  }